<html>
    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="btn btn-link" href="{% url 'djangoapp:index' %}">
                        Home
                    </a>
                </div>
            </div>
        </nav>
        <h2>
            <p style="text-align:center">About Us</p>   
        </h2>
        <h3>
            <p style="text-align:center">This is a full stack project for IBM professional certificate.</p>   
        </h3>
    </body>
</html>
